@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
    --blue: #2D25A0;
    --pink: #E02C6D;
    --white: #ffffff;
    --text-black: #18191F;
    --text-grey: #6C6C6C;
}

/* ----------------------------------- 
             Base Style 
--------------------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

img {
    width: 100%;
}



/* ----------------------------------- 
            Utility Classes 
--------------------------------------*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.button {
    background: var(--pink);
    color: var(--white);
    font-size: 16px;
    font-weight: 500;
    padding: 10px 25px;
    transition: transform .4s
}

.button:hover {
    transform: scaleY(1.15);
}

.secondary-title {
    font-size: 60px;
    color: var(--text-black);
    line-height: 1.25em;
    margin: 0 0 10px;
}



/* ----------------------------------- 
             Hero Section 
--------------------------------------*/
main {
    background: var(--blue);
    color: var(--white);
    padding: 45px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul div {
    display: flex;
}

nav ul div li a {
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    padding-right: 30px;
}

nav ul div li:hover a {
    text-decoration: underline;
}

nav ul li a.button i {
    padding-right: 12px;
} 

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px 0;
}

header div {
    flex: 1;
}

header h1 {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.25em;
    margin: 0 0 27px;
}

.content i {
    padding-left: 12px;
}

.media {
    background: url("../images/Group\ 33071.png") no-repeat 100% 50% /contain;
    text-align: end;
}

.media img {
    width: 95%;
    animation: footballer 2.5s infinite;
}

@keyframes footballer {
    from {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }
    
    to {
        transform: rotate(0deg);
    }
}


/* ----------------------------------- 
            Players List 
--------------------------------------*/
.players-list .container {
    padding: 75px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.player-details {
    padding: 20px;
    box-shadow: 0 0 10px 2px #00000017;
}

.player-details h2 {
    color: var(--text-black);
    margin: 15px 0;
}

.player-details p {
    color: var(--text-grey);
    margin-bottom: 10px;
}


/* ----------------------------------- 
            All highlights 
--------------------------------------*/
.all-highlights {
    padding: 50px 0;
}

.all-highlights .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 5%;
}

.all-highlights p {
    color: var(--text-grey);
    margin: 10px 0;
}

.all-highlights .button {
    margin: 15px 0 0;
}

.all-highlights .button i {
    margin-left: 12px;
}


/* ----------------------------------- 
        Highlights from Youtube 
--------------------------------------*/
.youtube-highlights .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.youtube-highlights .container div {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.youtube-highlights iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* ----------------------------------- 
                Gallery 
--------------------------------------*/
.gallery {
    padding: 125px 0 50px;
}

.gallery {
    text-align: center;
}

.gallery h2 {
    margin: 0 0 30px;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* ----------------------------------- 
                footer 
--------------------------------------*/
footer .container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
}

footer img {
    width: 85%;
}

.social-medias {
    display: flex;
    justify-content: center;
}

.social-medias div {
    background: #E7E7E8;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
}

.social-medias a {
    color: #969BAB;
}

.social-medias a:hover {
    color: var(--pink);
}

footer p {
    color: var(--text-black);
    margin: 20px 0 10px;
}


